@charset "utf-8";

.App {
    position: relative;
    width: 100%;
}

/* 공통값 */
.hide {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    color: transparent;
}