@charset "utf-8";

.App {
    position: relative;
    width: 100%;
}

/* 공통값 */
:root {
    --font-size-tl: clamp(3.6rem, 11vw, 14rem);
    --font-size-lg: clamp(3.3rem, 10vw, 12rem);
    --font-size-md: clamp(1.8rem, 3vw, 36px);
    --font-size-sm: clamp(1.2rem, 2vw, 24px);
    --font-size-con: clamp(0.9rem, 2vw, 18px);
    --main-blue: #3498E0;
    --sub-blue: #74BBEF;
    --main-yellow: #ffc219;
}

.hide {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    color: transparent;
}

.aa {
    position: absolute;
    bottom: initial;
    transform: translate() scaleY();
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-image: linear-gradient(90deg, #7EC9FF, #FBFBBD);
}